<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Student Scanner</title>
        <link href="styles.css" rel="stylesheet">
        <script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript" src="main.js"></script>
</head>
<body class="bg-lime-800 text-center text-white" onload="hide()">
    
    <script>
        function test(){
            // document.getElementById("number").innerHTML = "hi";

            eel.random_python()(function(number){   
                                   
                // Update the div with a random number returned by python
                document.getElementById("number").innerHTML = number;
            })

        }

        function checkIn(){
            document.getElementById("number").innerHTML =  document.getElementById("studentId").value;
            tempId = document.getElementById("studentId").value;

            eel.attendance(tempId);
        }

        function bathroom(){
            // document.getElementById("number").innerHTML =  "thing";
            document.getElementById("number").innerHTML =  document.getElementById("studentId").value;
            tempId = document.getElementById("studentId").value;

            eel.leftToBathroom(tempId);
        }

        function hide(){
            // document.getElementById("place").style.display = "none";
        }

        function show(){
            // document.getElementById("place").style.display = "block";
        }

        function otherDest(){
            document.getElementById("number").innerHTML =  document.getElementById("studentId").value;
            tempId = document.getElementById("studentId").value;
            place = document.getElementById("place").value;

            document.getElementById("number2").innerHTML =  document.getElementById("place").value;
            eel.otherdest(tempId, place);
            // eel.leftToBathroom(tempId);
            
        }

        function dismiss(){
            eel.dismiss(document.getElementById("studentId").value);
        }

    </script>
    <h1 class="text-4xl p-5" id="titleText">Student Scanner</h1>
    <h1 id="number"></h1>
    <h1 id="number2"></h1>

    <div class="">
        <form onsubmit="return false">
            <input type="text" name="studentId" id="studentId" class="order-2 border-rose-500">
            <!-- <input type="button" class="bg-lime-100 text-lime-800 m-3 rounded-full p-2" onmouseover="test()" onmousedown="update()"> -->
            <button type='button' class="bg-lime-100 text-lime-800 m-3 rounded-full p-2" onmousedown="checkIn()">submit</button> 
            <!-- <button class="bg-lime-100 text-lime-800 m-3 rounded-full p-2">Submit</button> -->
        </form>
    </div>
    
    <!-- <button class="bg-lime-100 text-lime-800 m-3 rounded-full p-2">Submit</button> -->

    <input type="text" name="studentId" id="place" class="text-lime-800">

    <br><br>

    <button onclick="show(), otherDest()" class="bg-white text-lime-800 m-3 rounded-full p-2 mr-0">Go/Ret from Office</button>
    <button onclick="dismiss()" class="bg-white text-lime-800 m-3 rounded-full p-2 ml-0">Leave</button>


    <h1>print report</h1>
    <button>print</button>
</body>
</html>